<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Bienvenido a alkemy!</p>
  <img src="assets-dev.alkemy.org/assets/logo.svg" alt="alkemy.org"> 
   </body>
</html>